/*font-family: 'Rampart One', cursive;
font-family: 'Volkhov', serif;
font-family: 'Open Sans', sans-serif;*/

h1{
    color:blue;
    font-family:'Rampart One', cursive;
    font-size: 5em;
}
@media(max-width:450px){
    h1{
        font-size:2em;
    }
}

.center
{
    text-align:center;
}

iframe{
    display: block;
margin: 0 auto;
}
h3{
    color:rgb(123, 123, 255);
    font-family:'Rampart One',cursive;
}
p{
    font-family:'Open Sans',sans-serif;
    font-weight:400;
}
.black
{
    color:black;
    text-align:center;
}
figcaption{
    color:silver;
    text-align:center;
    font-family:'Open Sans',sans-serif;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .imgcentersmall{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  li{
    font-family:'Open Sans',sans-serif;
    font-weight:400;
  }
  h4{
    color:rgb(173, 173, 255);
    font-family:'Rampart One',cursive;
  }
  .imgcenterbig{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  .imgsmall{
    width: 25%;
  }
  .left{
      text-align: left;
  }
