
.logo{
    width: 100px;
}
h1,
h3{
    font-family: 'DM Serif Display', serif;
    color: #1972b5;
    font-weight:500;
}
p,
li{
    font-family: 'Barlow Condensed', sans-serif;
}
figcaption{
    font-family: 'Barlow Condensed', sans-serif;
}