/*font-family: 'Roboto Slab', serif;*/

body{
    font-family:'Roboto Slab', serif;
}

.center
{
    text-align:center;
}
.container
{
    text-align:center;
}

.writing
{
    padding-left:50px;
    padding-right:50px;
    line-height:2.0;
}