/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Lobster', cursive;
font-family: 'Mate SC', serif;
font-family: 'Staatliches', cursive;
*/
p{
    font-family:'Cormorant Garamond',serif ;
    font-weight:600
}
ul{
    font-family:'Cormorant Garamond',serif;
    font-weight:700
}
ol{
    font-family:'Cormorant Garamond',serif;
    font-weight:700
}
h1{
    font-family:'Lobster', cursive;
    color:rgb(18, 54, 88)
}
h2{
    font-family:'Staatliches', cursive;
    color:rgb(1, 72, 139)
}
h3{
    font-family: 'Mate SC', serif;
    color:rgb(24, 143, 255)
}
.beginning{
    color:rgb(255, 24, 24);
    text-shadow:royalblue 
}
.container {
    width: 1600px;
  }